# Dependencies
node_modules/
.venv/
venv/

# Build
build/
dist/

# Cache
__pycache__/
*.pyc

# Environment
.env*

# System/IDEs
.DS_Store
.vscode/
.idea/

# Logs/Data
*.log
*.db

.python-version
market_data_cache.json
my_portfolio.csv
backend/xgboost_model.json
